# We want to ignore the build folder if it is present.
build/

# We want to ignore MacOS specific items
*.DS_Store

# VS Code keeps adding it's own config file. 
.vscode/

# Visual Studio, should we decide to use it
.vs/